Repository TrystAI/restorers, pull requests merged in 2023-03, with the labels that each got.

#39 Baseline Block addition and changes to NAFNet
  examples/low_light_enhancement/inference_mirnetv2.ipynb
  restorers/model/nafnet/__init__.py
  restorers/model/nafnet/nafblock.py
  restorers/model/nafnet/nafnet.py
  restorers/tests/model/nafnet/test_nafnet.py
Labels: enhancement, model

#46 feat: added implementation of PSNR loss
  restorers/losses/psnr_loss.py
Labels: enhancement, loss

#47 example: Train Nafnet for low-light enhancement
  .gitignore
  examples/low_light_enhancement/supervised/mirnetv2/low_light_config.py
  examples/low_light_enhancement/supervised/mirnetv2/train_mirnetv2.ipynb
  examples/low_light_enhancement/supervised/mirnetv2/train_mirnetv2.py
  examples/low_light_enhancement/supervised/nafnet/low_light_config.py
  examples/low_light_enhancement/supervised/nafnet/train_nafnet.ipynb
  examples/low_light_enhancement/supervised/nafnet/train_nafnet.py
  examples/low_light_enhancement/unsupervised/train.py
  restorers/losses/__init__.py
  restorers/model/nafnet/__init__.py
  restorers/model/nafnet/nafblock.py
  restorers/model/nafnet/nafnet.py
  restorers/tests/model/nafnet/test_nafnet.py
Labels: example

#53 Add Inference
  examples/evaluate.py
  examples/inference.ipynb
  restorers/evaluation/base.py
  restorers/evaluation/lol_eval.py
  restorers/inference/__init__.py
  restorers/inference/base.py
  restorers/inference/low_light.py
Labels: inference, evaluation, example

#56 Enhancement: NAFNet can take any input shapes now
  restorers/model/nafnet/nafnet.py
  restorers/tests/model/nafnet/test_nafnet.py
Labels: enhancement, model

#55 feat: UnsupervisedLOLDataLoader
  restorers/dataloader/__init__.py
  restorers/dataloader/base/base_dataloader.py
  restorers/dataloader/base/commons.py
  restorers/dataloader/lol_dataloader.py
  restorers/tests/dataloader/low_light/test_low_light.py
Labels: dataloader, example
